# PostgreSQL — your data warehouse
POSTGRES_USER=mds_user
POSTGRES_PASSWORD=mds_password
POSTGRES_DB=btg_resource_utilization
POSTGRES_PORT=5432

# Airflow — your pipeline scheduler
AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=changeme123